<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/fiados.css">
</head>
<body>
	{{> menu}}
	<main class="main">
		<div class="contenedor">
			<h1>Fiados</h1>

			<table class="tabla">
			  <tr>
			    <th>Nombre fiador</th>
			    <th>Productos fiados</th> 
			    <th>Total</th>
			    <th>Maximo a fiar</th>
			  </tr>


			  <tr>
			    <td><a href="#">Lucas Casemiro Perez</a></td>
			    <td>10</td> 
			    <td>$ 50.000</td>
			    <td class="maximoFiar">$ 50.000</td>
			  </tr>
			  <tr>
			    <td><a href="#">Juan Diego Avila</a></td>
			    <td>7</td> 
			    <td>$ 3.400</td>
			    <td class="maximoFiar">$ 15.000</td>
			  </tr>






		</div>
		  
		</table>

	</main>
</body>
</html>