<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido</title>
	<link rel="stylesheet" type="text/css" href="styles/inicio.css">
</head>
<body>

	<header class="header"></header>
	<main class="main">
		<h1>Bienvenido</h1>
	</main>

</body>
</html>