<header class="header">
	<h1>Storemanager</h1>
	<div class="items">
		<a href="/vender">Vender</a>
		<a href="/productos">productos</a>
		<a href="/fiados">Fiados</a>
		<a href="/usuarios">Usuarios</a>
	</div>
</header>